<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit city</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
    <h1>Chỉnh sửa thành phố</h1>
    <br>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form th:action="@{/edit-city}" th:object="${city}" method="post" class=".input-group-lg">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td class="input-group-text">Tên</td>
                <th:block th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></th:block>
                <td><input type="text" th:field="*{name}" required class="form-control"/></td>
            </tr>
            <tr>
                <td class="input-group-text">Quốc gia:</td>
                <td>
                    <select name="country">
                        <option th:each="c : ${countries}"
                                th:value="${c.id}"
                                th:text="${c.name}"
                                th:selected="(${c.id} == *{country.id})" class="form-control"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="input-group-text">Diện tích:</td>
                <th:block th:if="${#fields.hasErrors('name')}" th:errors="*{area}"></th:block>
                <td><input type="text" th:field="*{area}" class="form-control"/></td>
            </tr>
            <tr>
                <td class="input-group-text">Dân số:</td>
                <th:block th:if="${#fields.hasErrors('name')}" th:errors="*{population}"></th:block>

                <td><input type="text" th:field="*{population}" class="form-control"/></td>
            </tr>
            <tr>
                <td class="input-group-text">GDP:</td>
                <th:block th:if="${#fields.hasErrors('name')}" th:errors="*{gdp}"></th:block>
                <td><input type="text" th:field="*{gdp}" class="form-control"/></td>
            </tr>
            <tr>
                <td class="input-group-text">Giới thiệu:</td>
                <td><textarea rows="5" cols="25" th:field="*{introduce}" class="form-control"></textarea></td>

            </tr>
            <tr>
                <td><input type="submit" value="Cập nhật"></td>
                <td><button><a href="/" style="text-decoration: none">Thoát</a></button></td>
            </tr>
        </table>
    </form>
</body>
</html>